asgiref==3.3.4; python_version >= "3.6"
django-filter==2.4.0; python_version >= "3.5"
django==3.2.2; python_version >= "3.6"
djangorestframework-simplejwt==4.6.0; python_version >= "3.7"
djangorestframework==3.12.4; python_version >= "3.5"
pyjwt==2.1.0; python_version >= "3.6"
pytz==2021.1
sqlparse==0.4.1; python_version >= "3.5"
typing-extensions==3.10.0.0
